<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/img1.png" alt="gayuh-alhasy" class="img-thumbnail rounded-circle" width="200">
            <h1 class="display-4">Gayuh Alhasy</h1>
            <p class="lead">Web Designer</p>
        </div>
    </div>
</div>